body{
    margin: 0;
    background: #000000;
    font-family: 'Roboto', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.follow-card-section{
    display: flex;
    flex-direction: column; 
}

a{
    text-decoration: none;
}